piattaforme.dtd

<!ELEMENT piattaforme (console+)>
	<!ELEMENT console (nome, prezzo, data, tipologia,immagine)>
		<!ATTLIST console 
				id CDATA #REQUIRED
				cprod Sony|Microsoft|Nintendo #REQUIRED>
		<!ELEMENT nome #PCDATA>
		<!ELEMENT prezzo #PCDATA>
		<!ELEMENT data #PCDATA>
			<!ATTLIST data 
							gg CDATA #REQUIRED
							mm CDATA #REQUIRED
							aaaa CDATA #REQUIRED
						>
		<!ELEMENT immagine #PCDATA>